<div class="container">
  <div class="well" *ngIf="!isEmpty">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Country Name</th>
        <th>Country Code</th>
        <th>Status</th>
        <th>File Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of responses">
        <td class="w-25">{{country.countryName}}</td>
        <td class="w-25">{{country.countryCode}}</td>
        <td class="w-25">{{country.status}}</td>
        <td class="w-25">{{country.fileName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
